*{
    box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content:space-evenly
}
div .face{
    position: relative;
    width: 200px;
    height: 200px;
    transition: ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
div .face1{
    background-color: bisque;
    z-index: 222;
    transform: translateY(100px);
}
div .face1:hover ~ .face2{
    transform: translateY(0);
}
div .face1:hover{
    transform: translateY(0);
}
div.face2{
    background-color: #fff;
    box-shadow: 0 7px 24px rgba(0, 0, 0 ,0.3);
    transform: translateY(-100px);
}
div.face2 .content{
    text-align: center;padding: 0 10px;
}
a{
    text-decoration: none;
    font-size: 1.5em; color: black;
}
i{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 0.5em;
    background-color: #fff;
    font-size: xx-large;
    display: flex;text-align: center; align-content: center;
}